<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('./partials/fonts-global'); %>
    <%- include('./partials/css-global'); %>
  
  </head>

<body>
  <!-- wrap the whole page inside page-container -->
  <div class="page-container">
    <!-- wrap the content  inside content-container with the exception of footer -->
    <div class="content-container">
      <header>
        <!-- common header for all pages -->
        <%- include('./partials/header'); %>
        <!-- end of header section -->
      </header>
      <main>
        <div class="error404 center-items full-vh">
          <p class="er404-oops">Oops !</p>
          <p class="alert">Error 404</p>
          <p class="alert">We can't seem to find the page you're looking for.</p>
          <p class="er-line">Go back or head over to <a class="bold" href="/">Home</a> to choose a new direction</p>
        </div>
      </main>
    </div>
    <!-- footer section starts here -->
    <%- include('./partials/foot'); %>
  </div>
  <!-- javascript link -->
  <%- include('./partials/gallery-js'); %>
  <%- include('./partials/nav-js'); %>
</body>

</html>