<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination -- <%= alt %></title>
  
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <%- include('./partials/fonts-global'); %>
    <%- include('./partials/css-global'); %>
  
  </head>

<body>
  <!-- wrap the whole page inside page-container -->
  <div class="page-container">
    <!-- wrap the content  inside content-container with the exception of footer -->
    <div class="content-container">
      <header>
        <!-- common header for all pages -->
        <%- include('./partials/header'); %>
        <!-- end of header section -->
      </header>
      <main>
        <figure class="center-items full-vh single-image">
          <h2><%= alt %></h2>
          <div class="figimg-container"><img class="div-img" src="http://picsum.photos/id/<%= id %>/1000" alt="<%= alt %>"></div>
          <figcaption><%= description %>!</figcaption>
        </figure>
      </main>
    </div>
    <!-- footer section starts here -->
    <%- include('./partials/foot'); %>
  </div>
  <!-- javascript link -->
  <%- include('./partials/gallery-js'); %>
  <%- include('./partials/nav-js'); %>
</body>

</html>
